<%- include('./partials/headerDr.ejs'); %>
<%- include('./partials/sideMenuDr.ejs'); %>
<style>

  #searchbox {
    margin-left: 66%;
  }

  #patient_count {
    margin-left: 100px;
  }
</style>

<div class="scrollable" id="data">
  <h4 class="title"><i class="fas fa-list"></i> Patients List</h4>
  <br>
  <p class="search">
    <form action="" method="GET" id="searchbox" class="form-inline">
      <div class="form-group">
        <input type="text" name="search" placeholder="Patient's name" class="form-control">
        <input type="submit" value="Search" class="btn btn-dark">
      </div>
      <%- include('./partials/messages.ejs'); %>
    </form>
  </p>
  <h5 id="patient_count" class="btn btn-success"><b>Total patients</b> : <%=patientCount%></h5>
  <br>
  
  <table id="datatable" class="table table-bordered table-dark">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Patient ID</th>
        <th style="width: 35%;" scope="col">Name</th>
        <th style="width: 35%;" scope="col">Email</th>
        <th scope="col">Registration Date</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody id="tablebody">
      <% patients.forEach(Patient => { %>
      <tr>
        <td scope="row"><%= Patient.tokennumber %></td>
        <td>
          <img id="senderavatar" src="<%= Patient.imageUrl%>"></img>
          <b><%= Patient.name %></b></td>
        <td><%= Patient.email %></td>
        <td><%= Patient.date.toDateString() %></td>
        <td><a href="/viewpatientsD/<%=Patient.id%>" class="aa btn btn-success">View More Details</a>
        </td>
      </tr>
    </tbody>
    <% }) %>
  </table>
  </div>
</div>